#filmsection {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

#filmsection h2 {
    padding-top: 30px;
    padding-bottom: 5px;
    animation: fadeIn 1s;
    transition: height .2s ease;
}

#filmsection p {
    padding-bottom: 40px;
    animation: fadeIn 1s;
    transition: height .2s ease;
}

#filmsection .films .film-con {
    padding: 20px 0px;
}

#filmsection .films .film-con .film .nev {
    padding: 0px 10px;
    font-size: x-large;
    font-weight: 600;
}

#filmsection .films .film-con .prod .nev {
    padding: 0px 10px;
    font-size: x-large;
    font-weight: 600;
}

#filmsection .films .film-con .film img {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 30%;
    height: 50%;
    border-radius: 80px;
    border: #3A3B3C;
    border-image-width: auto;
}

#filmsection .films .film-con .prod img {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 30%;
    height: 50%;
    border-radius: 80px;
    border: #3A3B3C;
    border-image-width: auto;
}

#filmsection .films .film-con .film p {
    text-align: center;
    height: auto;
}

#filmsection .films .film-con .prod p {
    text-align: center;
    height: auto;
}

#filmsection .films .film-con .film {
    margin: 2% 15% 5% 15%;
    position: relative;
    background: transparent;
    border: 2px solid #3A3B3C;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #3A3B3C;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 1s;
    transition: height .2s ease;
    width: 70%;
    height: auto;
}

#filmsection .films .film-con .prod {
    margin: 2% 15% 5% 15%;
    position: relative;
    background: transparent;
    border: 2px solid #3A3B3C;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #3A3B3C;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 1s;
    transition: height .2s ease;
    width: 70%;
    height: auto;
}

#filmsection .films .film-con a:visited {
    color: #3A3B3C;
    text-decoration: none;
}

#filmsection .films .film-con a:link {
    color: #3A3B3C;
    text-decoration: none;
}

#filmsection .films .film-con .film .desc {
    padding: 10px;
    text-align: center;
    height: auto;
}

#filmsection .films .film-con .prod .desc {
    padding: 10px;
    text-align: center;
    height: auto;
}

#filmsection .films .film-con .film .filmlength {
    margin-right: 10px;
    font-weight: 600;
}

#filmsection .films .film-con .prod .filmlength {
    margin-right: 10px;
    font-weight: 600;
}

#filmsection .films .film-con .prod:hover {
    cursor: pointer;
}